@import "../../colors.scss";

.header {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 100px;

  .headerTitle {
    font-size: 24px;
    font-weight: bold;
    color: $title-text;
  }

  .allLink {
    margin-left: auto;
    font-size: 16px;
    color: $title-text;
  }
}

.projects {
  margin-top: 36px;
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 12px;
}
