@import "../../colors.scss";

.header {
  width: 100%;
  display: flex;
  align-items: center;

  .headerTitle {
    font-size: 24px;
    font-weight: bold;
    color: $title-text;
  }

  .allLink {
    margin-left: auto;
    font-size: 16px;
    color: $title-text;
  }
}

.articles {
  border: 2px solid $dark-blue;
  border-radius: 6px;
  margin-top: 36px;
}
