@import "../../colors.scss";
@import "../../breakpoints.scss";

hr {
  height: 2px;
  background-color: $border-color;
}

.container {
  margin-top: 80px;
  .titleText {
    font-size: 36px;
    color: $title-text;

    @include md {
      font-size: 56px;
    }
  }

  .info {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 20px;
    color: $green-text;
    flex-wrap: wrap;
    line-height: 36px;

    .dateText {
      margin-left: 8px;
    }
    .dot {
      margin-left: 8px;
      margin-right: 8px;
      font-size: 16px;
    }
    .readMinute {
      margin-right: auto;
    }

    .tags {
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      .tagText {
        margin-left: 10px;
        text-decoration: underline;
      }
    }
  }

  .content {
    margin-top: 36px;
  }
}
