@import "../../colors.scss";

a {
  color: $green-text;
  text-decoration: none;
}

.container {
  display: flex;
  border-radius: 8px;
  background-color: #1c2c35;
  margin-bottom: 10px;
  overflow: hidden;
  min-height: 260px;

  .leftBorder {
    width: 6px;
    min-width: 6px;
    background-color: #81f59b;
    align-self: normal;
    display: flex;
    align-items: center;

    .tipText {
      visibility: hidden;
      position: absolute;
      transform: rotate(270deg);
      margin-left: -80px;
      background-color: #00000088;
      padding: 8px;
      border-radius: 8px;
      color: white;
      border: 2px solid #1c2c35;
      font-weight: bold;
    }

    &:hover .tipText {
      visibility: visible;
    }
  }

  .projectInfo {
    padding: 32px;
    display: flex;
    flex-direction: column;
    .title {
      font-size: 24px;
      line-height: 30px;
      font-weight: bold;
      margin-bottom: 14px;
    }
    .info {
      font-size: 16px;
      margin-bottom: auto;
    }
  }
}
