@import "../../colors.scss";

.container {
  padding: 32px;
  padding-left: 0px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid $dark-blue;
  color: $main-text;

  .articleInfo {
    .title {
      font-size: 20px;
      line-height: 30px;
      font-weight: bold;
    }
    .info {
      font-size: 12px;
      display: flex;
      align-items: center;
      color: $green-text;
      font-weight: 500;

      .dot {
        margin-left: 8px;
        margin-right: 8px;
        font-size: 16px;
      }
    }
  }

  .iconContainer {
    width: 50px;
    display: flex;
    align-items: center;
    margin-right: 20px;
    margin-left: 20px;
  }

  &:hover {
    border-left: 4px solid #81f59b;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #81f59b11;
    cursor: pointer;
  }
}
