@import "../colors";
@import "../breakpoints";

h1 {
  font-size: 8vw;
  color: $green-text;

  @include md {
    font-size: 64px;
  }
}

h2 {
  font-size: 5vw;
  color: $green-text;

  @include md {
    font-size: 36px;
  }
}

.container {
  padding-top: 40px;
  @include md {
    padding-top: 100px;
  }

  .whoami {
    margin-top: 32px;
    font-size: 18px;
    padding-bottom: 80px;
    line-height: 32px;

    .underline {
      border-bottom: 2px solid #1da1f2;
      padding-bottom: 2px;
    }

    .learnMoreText {
      margin-top: 32px;
      a {
        color: $title-text;
        font-weight: bold;
      }
    }
  }
}
