@import "../colors";
@import "../breakpoints.scss";

.container {
  margin-top: 80px;

  .projects {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 12px;

    @include lg {
      grid-template-columns: 1fr 1fr;
    }
  }

  .searchInfoText {
    font-size: 16px;
    margin-bottom: 14px;
  }
}
