@import "../../colors.scss";
@import "../../breakpoints.scss";

.container {
  display: flex;
  border-radius: 8px;
  background-color: #1c2c35;
  margin-bottom: 10px;
  overflow: hidden;
  min-height: 260px;
  cursor: pointer;
  color: $main-text;

  .leftBorder {
    width: 6px;
    background-color: #81f59b;
    min-width: 6px;
    align-self: normal;
    display: flex;
    align-items: center;

    .tipText {
      visibility: hidden;
      position: absolute;
      transform: rotate(270deg);
      margin-left: -80px;
      background-color: #00000088;
      padding: 8px;
      border-radius: 8px;
      color: white;
      border: 2px solid #1c2c35;
      font-weight: bold;
    }

    &:hover .tipText {
      visibility: visible;
    }
  }

  .projectInfo {
    padding: 32px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    .title {
      font-size: 28px;
      line-height: 30px;
      font-weight: bold;
      margin-bottom: 14px;
      color: $title-text;
    }
    .info {
      font-size: 16px;
      margin-bottom: auto;
    }
    .githubUrl {
      margin-bottom: 12px;

      .urlText {
        color: $green-text;
      }
    }

    .languages {
      display: flex;
      flex-wrap: wrap;
    }
  }

  @include md {
    &:nth-child(3n) {
      grid-column-start: 2;
      grid-column-end: 3;
    }
    &:nth-child(3n + 1) {
      grid-column-start: 1;
      grid-column-end: 3;
    }
    &:nth-child(3n + 2) {
      grid-column-start: 1;
      grid-column-end: 2;
    }
  }
}
