@import "../../colors.scss";

.container {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $dark-blue;
  margin-bottom: 40px;
  padding-right: 20px;
  padding-left: 20px;

  .title {
    color: $green-text;
    font-size: 48px;
    line-height: 48px;
    font-weight: bold;
    padding-bottom: 24px;
    letter-spacing: 2px;
    text-align: center;
  }

  .textContainer {
    max-width: 600px;
    text-align: center;
  }
}
